html, body {
  height: 100%;
  width: 100%;
}

.no-box {
  border: 0;
  padding: 0;
  margin: 0;
}

.middle-center {
  position  : relative;;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%,-50%);
  padding: 10%;
}

.no-overflow {
  overflow: hidden;
}

.fit-screen-height-half {
  height: 50%;
}

.navbar-fixed-top{
  position: absolute;
  width: 100%;
}

.navbar-default {
  background-color: #ffffff;
}
.navbar-container {
  margin-left: 5%;
  margin-right: 3%;
}

.navbar-brand > img {
  height: 100%;
}

.navbar-nav > li > a {
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

/*  Text size  */
.text-size-xlarge {
  font-size: 120px;
}
.text-size-large {
  font-size: 90px;
}
.text-size-medium {
  font-size: 60px;
}
.text-size-small {
  font-size: 30px;
}
.text-size-xsmall {
  font-size: 14px;
}
