html, body {
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding: 0px;
}

.middle-center {
  position  : relative;;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%,-50%);
}

.no-overflow {
  overflow: hidden;
}

.inner-center {
  position: absolute;
  transform: translateX(-50%);
  font-size: 120px;
}

.fit-screen-height {
  height: 100%;
}
