html, body {
  height: 100%;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  padding: 0px;
}

.middle-center {
  position  : relative;;
  top       : 50%;
  left      : 50%;
  transform : translate(-50%,-50%);
}

.no-overflow {
  overflow: hidden;
}

.fit-screen-height-half {
  height: 50%;
}

.navbar-brand>img {
  height: 100%;
}

.navbar-fix-top{
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

/*  Text size  */
.text-size-xlarge {
  font-size: 120px;
}
.text-size-large {
  font-size: 90px;
}
.text-size-medium {
  font-size: 60px;
}
.text-size-small {
  font-size: 30px;
}
.text-size-xsmall {
  font-size: 14px;
}
