<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="author" content="Haoran Fang">
    <meta name="description" content="Personal site of Haoran Fang">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Haoran Fang</title>

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="WRU6aQlYM4HprQJZ_AMyTUIKhXc2nHbUxVFQWUY22Js" />

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Global custom styles -->
    <link href="{{ url_for('static', filename='custom/css/style.css') }}" rel="stylesheet">

    <!-- FontAwesome -->
    <script src="https://use.fontawesome.com/b4fbcc8613.js"></script>
  </head>

  <body>
    {% block body %} {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom/js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='custom/js/parallax.min.js') }}"></script>

    <!-- Typekit -->
    <script src="https://use.typekit.net/vhq7dsa.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45116850-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
