{% extends "base.html" %}
{% block body %}
<div class="site-wrapper">

  <div class="site-wrapper-inner">
      <div id="parallex-content" class="parallax-window content-section"
      data-parallax="scroll" data-image-src="{{ url_for('static', filename='1.jpg') }}">
        11111 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.
      </div>
      <div id="parallex-content" class="parallax-window content-section"
      data-parallax="scroll" data-image-src="{{ url_for('static', filename='2.jpg') }}">
        22222 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.
      </div>
      <div id="parallex-content" class="parallax-window content-section"
      data-parallax="scroll" data-image-src="{{ url_for('static', filename='3.jpg') }}">
        33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.
      </div>
      <div id="parallex-content" class="parallax-window content-section"
      data-parallax="scroll" data-image-src="{{ url_for('static', filename='4.jpg') }}">
        44444 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.
      </div>
  </div>

</div>
{% endblock %}
