{% extends "base.html" %}
{% block body %}
<div class="container-fluid no-box">

    <nav class="navbar navbar-default navbar-fixed-top no-box text-uppercase tk-europa">
      <div class="navbar-container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="{{ url_for('static', filename='icon.ico') }}">
          </a>
          <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
             <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse navbar-right" id="collapse-navbar">
          <ul class="nav navbar-nav">
          <li><a>Home</a></li>
          <li><a>About</a></li>
          <li><a>Gallery</a></li>
          <li><a>Contact</a></li>
        </ul>
        </div>
      </div>
    </nav>
    <div id="parallax-wrapper">
        <div class="parallax-section-image no-overflow"  data-image-src="{{ url_for('static', filename='1.jpg') }}">
          <div class="middle-center text-center">
            <div class="text-size-large strong"><p>To See the World<p></div>
            <div class="text-size-xsmall"><p>A software engineer with passion of travelling and photography</p></div>
          </div>
        </div>
        <div class="parallax-section-text no-overflow">
          <div class="text-center">
            <p>33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.</p>
            <p>33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.</p>
            <p >33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.</p>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large text</strong>
            <strong class="text-uppercase text-size-large">some large1 text</strong>
            <div>11111 Lorem ipsum dolor sit amet</div>
          </div>
        </div>
        <div class="parallax-section-image no-overflow"  data-image-src="{{ url_for('static', filename='4.jpg') }}">
          <div class="middle-center text-center">
            <div class="text-uppercase text-size-xlarge">xlarge text</div>
            <div class="text-uppercase text-size-large">large text</div>
            <div class="text-uppercase text-size-medium">medium text</div>
            <div class="text-uppercase text-size-small">small text</div>
            <div class="text-uppercase text-size-xsmall">xsmall text</div>
          </div>
        </div>
        <div class="parallax-section-text no-overflow">
          <div class="text-center">
            <p>33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.</p>
            <p>33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.</p>
            <p>33333 Lorem ipsum dolor sit amet consectetuer adipiscing elit nam nibh. Nunc varius facilisis eros sed erat in in velit quis arcu ornare laoreet.</p>
            <strong class="text-uppercase text-size-medium">some large text</strong>
            <div>11111 Lorem ipsum dolor sit amet</div>
          </div>
        </div>
      </div>

</div>
{% endblock %}
